.intro {
  height: 95vh;
  background-image: linear-gradient(
      to right bottom,
      rgba(126, 213, 111, 0.6),
      rgba(85, 197, 122, 0.6)
    ),
    url("../../img/hero.jpg");
  background-position: center;
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);

  .intro__img--logo {
    width: 5rem;
    margin: 3rem 0 0 3rem;
  }
  .intro__title {
    color: white;

    text-align: center;
    margin: 15rem 0 0;
    .intro__title--name {
      font-size: 8rem;
      margin: 0 0 2rem;
      letter-spacing: 20px;
      font-weight: 700;
      animation-name: moveInLeft;
      animation-duration: 1.5s;
      animation-timing-function: ease-in;
    }
    .intro__title--descrip {
      margin-bottom: 10rem;
      font-size: 3.2rem;
      letter-spacing: 10px;
      animation-name: moveInRight;
      animation-duration: 1.5s;
      animation-timing-function: ease-in;
    }
  }
}
