.btn-text {
  padding: 3px;
  transition: all 0.2s;
  &:link,
  &:visited {
    font-size: 1.6rem;
    color: $mainMedium;
    text-decoration: none;
    border-bottom: 1px solid $mainMedium;
    display: inline-block;
  }
  &:hover {
    color: white;
    background-color: $mainMedium;

    transform: translateY(-3px);
  }
  &:active {
    transform: translateY(0);
  }
}

.tour__btn {
  text-align: center;
  &--a {
    box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.185);
    display: inline-block;
    font-size: 2rem;
    color: white;
    background-image: linear-gradient(to right bottom, $mainLight, $mainDark);
    padding: 1rem 3rem;
    border-radius: 3rem;
    &:hover {
      background-image: linear-gradient(to right bottom, $mainDark, $mainLight);
      transform: translateY(-5px);
    }
  }
}
