.feature-box {
  transition: all 0.2s;
  z-index: 1000;
  padding: 2rem;
  background-color: white;
  box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.164);
  &:hover {
    transform: scale(1.05);
  }
}

.cart {
  position: relative;
  width: 100%;
  perspective: 200rem;
  -webkit-perspective: 200rem;
  &-side {
    top: 0;
    left: 0;
    overflow: hidden;
    backface-visibility: hidden;
    transition: all 1s ease;
    width: 100%;
    height: 50rem;
    box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.425);
    border-radius: 5px;
    &-front {
      background-color: white;
      z-index: -1;

      .tour-img {
        background-image: linear-gradient(
            to right,
            $color-secondary-light-1,
            $color-secondary-light-2
          ),
          url(../../img/nat-5.jpg);
        background-size: cover;
        background-position: center;
        background-blend-mode: screen;
        width: 100%;
        height: 45%;
        clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
        position: relative;
        &-2 {
          background-image: linear-gradient(to right, $mainMedium, $mainDark),
            url(../../img/nat-6.jpg);
        }
        &-3 {
          background-image: linear-gradient(
              to right,
              $color-tertiary-light-1,
              $color-tertiary-light-2
            ),
            url(../../img/nat-7.jpg);
        }
      }
    }
    &-back {
      position: absolute;
      transform: rotateY(-180deg);
      &-1 {
        background-image: linear-gradient(
          to right bottom,
          rgba(255, 185, 0, 0.85),
          rgba(255, 119, 48, 0.85)
        );
      }
      &-2 {
        background-image: linear-gradient(
          to right bottom,
          $mainLight,
          $mainDark
        );
      }
      &-3 {
        background-image: linear-gradient(
          to right bottom,
          $color-tertiary-light-1,
          $color-tertiary-light-2
        );
      }
    }
  }
  &:hover &-side-front {
    transform: rotateY(180deg);
  }
  &:hover &-side-back {
    transform: rotateY(0deg);
  }
}
