a {
  text-decoration: none;
}

body {
  margin: 0;
  margin: 0 3rem;
  font-family: "Lato", sans-serif;
}

html {
  font-size: 62.5%;
}

ul {
  padding: 0;
  margin: 0;
}
h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
h6::selection,
p::selection {
  background-color: #55c57a;
  color: white;
}
