$mainLight: #7ed56f;
$mainMedium: #55c57a;
$mainDark: #28b485;
$gridWidth: 114rem;
$space-vertical: 8rem;
$space-gorizontal: 6rem;
$bg-color: #f7f7f7;
$blackcolor: #000000;
$color-secondary-light-1: #ffb900;
$color-secondary-light-2: #ff7730;

$color-tertiary-light-1: #2998ff;
$color-tertiary-light-2: #5643fa;
